.container{
    display:  flex;
}
.Card{
    /* border: 2px solid red; */
    padding: 23px 12px;
    margin: 23px 12px;
    background-color: royalblue;
    /* offset-x offset-y blur-radius spredd color */
    box-shadow: 10px 5px 6px 2px green;   

    /* box-shadow: 10px 5px 6px 2px rgba(2, 4, 5, 0.2);  */

    /* box-shadow: 10px 5px green, 20px 10px red; */
}

.Card h2{
    /* text-shadow: 2px 2px red; */
    text-shadow: 2px 2px 5px red;
}