.box{
    background-color: greenyellow;
    font-size: 60px;
    text-align: center;
    color: ivory;
    display: none;
}

@media (Max-width:300px){
    #box1{
        display: block;
        background-color: khaki;
    }
}

@media(min-width:300px) and (max-width:500px){
    #box2{
        display: block;
        background-color: lightgreen;
    }
}

@media(min-width:500px) and (max-width:800px){
    #box3{
        display: block;
        background-color: lime;
    }
}

@media (min-width:800px){
    #box4{
        display: block;
        background-color: mediumaquamarine;
    }
}