.navbar
{
    background-color: crimson;
    border-radius: 30px;
}
.navbar ul{
    overflow:auto;
}
.navbar li{
    float: left;
    margin:15px 15px;
    list-style: none;
    padding-top:7px;
}
.navbar li a{
    padding: 4px 4px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color:blue;
    background-color: white;
    border-radius:30px;
    padding: 12px 12pxn;
}
.search{
    float: right;
    color: white;
    padding: 14px 14px;
}
.navbar input{
    border: 2px solid rgb(238, 94, 11);
    border-radius: 14px;
    padding: 4px 3px;
    margin: 2px;
    width: 190px;
}